{% extends "layout.html" %}

{% block content %}
    <div class="card shadow">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h4 class="ml-5 m-0 font-weight-bold text-primary">Add Kit with Super Kit</h4>
        </div>

        <!-- Card Body -->
        <form id="sk_form" action="{{ url_for('add_super_kit') }}" method="post" onsubmit="return confirmMsg();">
            <label for="kit_ids"></label><input id="kit_ids" name="kit_ids" hidden>
            <div class="card-body mr-5 ml-5">
                <fieldset id="super_kit_div">
                    <div class="row mt-3 mb-3">
                        <div class="col">
                            <h4>Super Kit Information</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 form-group">
                            <label for="sk_name">Super Kit Name</label>
                            <input type="text" class="form-control" id="sk_name" name="sk_name">
                        </div>
                        <div class="col-3 form-group">
                            <label for="sk_part_num">Part Number</label>
                            <input type="text" class="form-control" id="sk_part_num" name="sk_part_num">
                        </div>
                        <div class="col-2 form-group">
                            <label for="sk_quantity">Quantity</label>
                            <input type="number" value="1" min="1" max="100" step="1" name="sk_quantity" class="form-control" id="sk_quantity"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label for="comment">Comments</label>
                            <textarea class="form-control" name="sk_comment" id="comment" rows="3"></textarea>
                        </div>
                    </div>
                </fieldset>

                <fieldset id="kits">
                    <div id="add_kit" class="row mb-3">
                        <div class="col">
                            <a href="" data-toggle="collapse" data-target="#kit1" onclick="collapse(this)" hidden><i class="fa fa-chevron-up ml-auto" aria-hidden="true"></i> Collapse Kit & Components</a>
                        </div>
                        <div class="offset-md-10 col-2">
                            <button type="button" id="kit" class="btn btn-outline-secondary btn-block" onclick="add_kit()">Add Kit</button>
                        </div>
                    </div>
                    <fieldset id="kit0" class="collapse show" hidden>
                        <div id="edit_button_div" class="row mt-3 mb-3">
                            <div class="col-3">
                                <h4>Master Information</h4>
                            </div>
                            <div class="offset-md-8 col-1">
                                <button type="button" id="k0" class="btn btn-outline-secondary" onclick="delete_kit(this)">
                                    <i class="fa fa-trash" style="font-size: 24px"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <label for="k0_name">Kit Name</label>
                                <input type="text" class="form-control" id="k0_name" name="k0_name">
                            </div>
                            <div class="col-4 form-group">
                                <label for="k0_manu_name">Manufacturer</label>
                                <select class="form-control" id="k0_manu_name" name="k0_manu_name" onchange="update_all(this)">
                                    <option value="0,0,0,0,0,0,0,0,0,0"></option>
                                    {% for manufacturer in manufacturers %}
                                        <option value="{{ manufacturer.id }},{{ manufacturer.get_barcode_pat().part_start }},{{ manufacturer.get_barcode_pat().part_end }},{{ manufacturer.get_barcode_pat().lot_start }},{{ manufacturer.get_barcode_pat().lot_end }},{{ manufacturer.exp_date_start }},{{ manufacturer.exp_date_end }},{{ manufacturer.get_comp_barcode_pat().part_start }},{{ manufacturer.get_comp_barcode_pat().part_end }},{{ manufacturer.get_comp_barcode_pat().lot_start }},{{ manufacturer.get_comp_barcode_pat().lot_end }}">
                                            {{ manufacturer.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <label for="k0_barcode">Box Lot Barcode</label>
                                <input type="text" class="form-control" id="k0_barcode" name="k0_barcode" oninput="update_barcode(this)">
                            </div>
                            <div class="col-3 form-group">
                                <label for="k0_part_num">Part Number</label>
                                <input type="text" class="form-control" id="k0_part_num" name="k0_part_num">
                            </div>
                            <div class="col-3 form-group">
                                <label for="k0_lot_num">Lot Number</label>
                                <input type="text" class="form-control" id="k0_lot_num" name="k0_lot_num">
                            </div>
                            <div class="col-2 form-group">
                                <label for="k0_quantity">Quantity</label>
                                <input type="number" value="1" min="1" max="100" step="1" name="k0_quantity" class="form-control" id="k0_quantity"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 form-group">
                                <label for="k0_exp_date">Expiry Date</label>
                                <input type="date" class="form-control" id="k0_exp_date" name="k0_exp_date" min="{{ today }}">
                            </div>
                            <div class="col-3 form-group">
                                <label for="k0_date_tested">Date Tested</label>
                                <input type="date" class="form-control" id="k0_date_tested" name="k0_date_tested" min="{{ today }}">
                            </div>
                            <div class="col-3 form-group">
                                <label for="k0_p_num">P#</label>
                                <input type="text" class="form-control" id="k0_p_num" name="k0_p_num">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="k0_comment">Comments</label>
                                <textarea class="form-control" name="k0_comment" id="k0_comment" rows="3"></textarea>
                            </div>
                        </div>
                        <hr/>
                        <div class="row mt-5 mb-3">
                            <div class="col">
                                <h4>Component Information</h4>
                            </div>
                            <div class="col-3 text-center">
                                <button type="button" class="btn btn-outline-secondary" name="append" id="k0_add_comp" onclick="const k = this.id.split('_')[0]; clone_element(document.getElementById(k + '_comp0'));">Add Component</button>
                            </div>
                        </div>
                        <fieldset id="k0_comps">
                            <fieldset id="k0_comp0" class="mb-5" hidden>
                                <div class="row">
                                    <div class="col-3 form-group">
                                        <label for="k0_comp_name0">Component Name</label>
                                        <input type="text" class="form-control" id="k0_comp_name0" name="k0_comp_name">
                                    </div>
                                    <div class="col-4 form-group">
                                        <label for="k0_comp_barcode0">Component Barcode</label>
                                        <input type="text" class="form-control" id="k0_comp_barcode0" name="k0_comp_barcode" oninput="update_comp(this)">
                                    </div>
                                    <div class="col-2 form-group"></div>
                                    <div class="col-1 form-group mt-4">
                                        <label for="k0_copy_num0" hidden></label>
                                        <input type="number" value="1" min="1" step="1" class="form-control" id="k0_copy_num0" name="k0_copy_num"/>
                                    </div>
                                    <div class="col-2 form-group mt-4">
                                        <button type="button" class="btn btn-outline-secondary" id="k0_clone0" onclick="clone_element(this)">
                                            <i class="fa fa-clone" style="font-size: 24px"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary" id="k0_trash0" onclick="remove_element(this)">
                                            <i class="fa fa-trash" style="font-size: 24px"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3 form-group">
                                        <label for="k0_part_num0">Part Number</label>
                                        <input type="text" class="form-control" id="k0_part_num0" name="k0_comp_part_num">
                                    </div>
                                    <div class="col-3 form-group">
                                        <label for="k0_lot_num0">Lot Number</label>
                                        <input type="text" class="form-control" id="k0_lot_num0" name="k0_comp_lot_num">
                                    </div>
                                    <div class="col-3 form-group">
                                        <label for="k0_exp_date0">Expiry Date</label>
                                        <input type="date" class="form-control" id="k0_exp_date0" name="k0_comp_exp_date" min="{{ today }}">
                                    </div>
                                    <div class="col-2 form-group">
                                        <label for="k0_size0">Label Size</label>
                                        <select class="form-control" id="k0_size0" name="k0_size">
                                            <option value="s">S</option>
                                            <option value="m">M</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 form-group">
                                        <label for="k0_condition0">Component Storage Condition</label>
                                        <textarea class="form-control" id="k0_condition0" name="k0_condition" rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </fieldset>
                    </fieldset>
                </fieldset>
            </div>
            <div class="card-footer row m-0">
                <div class="col-4"></div>
                <div class="col-2">
                    <button type="submit" class="form-control btn-primary button" name="submit" id="submit">Save</button>
                </div>
                <div class="col-2">
                    <button type="button" class="form-control btn-outline-primary" name="cancel" id="cancel" onclick="window.history.back();">Cancel</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/add_super_kit.js') }}"></script>
    <script>
        document.querySelector('#sk_form').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                return false;
            }
        });

        document.querySelector('#sk_name').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                let form_elements, length;
                const element = document.getElementById('sk_name');
                {% for super_kit in super_kits %}
                    if (element.value.localeCompare('{{ super_kit.name }}') === 0) {
                    document.getElementById('sk_part_num').value = '{{ super_kit.part_num }}';
                    {% for kit in super_kit.kits %}
                        length = document.getElementById('kits').children.length / 2 - 1;
                        {% with kit_index = loop.index %}
                            if ({{ kit_index }} > length) {
                            clone_element(document.getElementById('k{{ kit_index }}_comp0'));
                        }
                            document.getElementById('k{{ kit_index }}_name').value = '{{ kit.name }}';
                            {% with manufacturer=kit.get_manufacturer() %}
                                {% if manufacturer %}
                                    document.getElementById('k{{ kit_index }}_manu_name').value = '{{ manufacturer.id }},{{ manufacturer.get_barcode_pat().part_start }},{{ manufacturer.get_barcode_pat().part_end }},{{ manufacturer.get_barcode_pat().lot_start }},{{ manufacturer.get_barcode_pat().lot_end }},{{ manufacturer.exp_date_start }},{{ manufacturer.exp_date_end }},{{ manufacturer.get_comp_barcode_pat().part_start }},{{ manufacturer.get_comp_barcode_pat().part_end }},{{ manufacturer.get_comp_barcode_pat().lot_start }},{{ manufacturer.get_comp_barcode_pat().lot_end }}';
                                {% endif %}
                            {% endwith %}
                            document.getElementById('k{{ kit_index }}_barcode').value = '{{ kit.barcode }}';
                            document.getElementById('k{{ kit_index }}_quantity').value = '{{ kit.quantity }}';
                            document.getElementById('k{{ kit_index }}_part_num').value = '{{ kit.part_num }}';
                            document.getElementById('k{{ kit_index }}_lot_num').value = '{{ kit.lot_num }}';

                            length = document.getElementById('k{{ kit_index }}_comps').childNodes.length / 2 - 1;
                            blank_len = 0;
                            {% for component in kit.components %}
                                if ({{ loop.index }} <= {{ list(kit.components) | length / kit.quantity }}) {
                                if ({{ loop.index }} > length) {
                                clone_element(document.getElementById('k{{ kit_index }}_comp0'));
                        }
                        form_elements = document.getElementById('k{{ kit_index }}_comp{{ loop.index }}').getElementsByClassName('form-control');
                        form_elements[0].value = '{{ component.name }}';
                        form_elements[1].value = '{{ component.barcode }}';
                        form_elements[3].value = '{{ component.part_num }}';
                        form_elements[4].value = '{{ component.lot_num }}';
                    }
                    {% endfor %}
                    {% endwith %}
                {% endfor %}
            }
        {% endfor %}

        var kit_num;
        const children = element.childNodes;
        Array.from(children).forEach.call(children, function(kit) {
            if (!kit.id.includes("add")) {
                kit_num = kit.id.split("t")[1];
                update_all(document.getElementById(kit_num + '_manu_name'));
            }
        });
            }
        });

        $(document).ready(function () {
            clone_element(document.getElementById('k0_comp0'));
            add_kit();
        });
    </script>
{% endblock script %}