{% extends "layout.html" %}

{% block content %}
<form class="kit" name="kit" action="/add_kit_redirect" onsubmit="return validateForm()" method="post">
	<div class="container my-container">
		<div class="row">
			<div class="col">
				<h1>Kit</h1>
				<h4>Master Information</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-3 form-group">
				<label for="master_name">Kit Name:</label>
				<input type="text" class="form-control" id="master_name" name="master_name" required>
			</div>
			<div class="col-3 form-group">
				<label for="manu_name">Manufacturer:</label>
				<select class="form-control" id="manu_name" name="manu_name" required>
					<option value=""></option>
					{% for item in manu_name%}
					<option>{{ item['manu_name'] }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-4 form-group">
				<label for="master_barcode">Box Lot Barcode:</label>
				<input type="text" class="form-control" id="master_barcode" name="master_barcode" oninput="update()">
			</div>
		</div>
		<div class="row my-row">
			<div class="col-3 form-group">
				<label for="master_part_num">Part Number:</label>
				<input type="text" class="form-control" id="master_part_num" name="master_part_num" readonly>
			</div>
			<div class="col-3 form-group">
				<label for="master_lot_num">Lot Number:</label>
				<input type="text" class="form-control" id="master_lot_num" name="master_lot_num" readonly>
			</div>
			<div class="col-3 form-group">
				<label for="expiry_date">Expiry Date:</label>
				<input type="date" class="form-control" id="expiry_date" name="expiry_date">
			</div>
			<div class="col-2 form-group">
				<label for="copynum">Quantity:</label>
				<input type="number" value="0" min="0" max="100" step="1" name="copynum"
				       class="form-control" id="copynum"/>
			</div>
		</div>
		<hr/>
		<div class="row my-row">
			<div class="col">
				<h4>Component Information</h4>
			</div>
		</div>
		<div id="containers_div">
			<div id="container_div" style="padding-bottom:30px">
				<div class="row my-row">
					<div class="col-3 form-group">
						<label for="name_c">Component Name:</label>
						<input type="text" class="form-control" name="name_c" id="name_c">
					</div>
					<div class="col-3 form-group">
						<label for="compnum">Component Barcode:</label>
						<input type="text" class="form-control" name="compnum" id="compnum">
					</div>
					<div class="col-3 form-group">
						<label for="partnum">Part Number:</label>
						<input type="text" class="form-control" name="partnum" id="partnum">
					</div>
					<div class="col-3 form-group">
						<label for="lotnum">Lot Number:</label>
						<input type="text" class="form-control" name="lotnum" id="lotnum">
					</div>
				</div>
				<label for="condition"><a data-toggle="collapse" data-parent="#accordion" href="#condition_div">Component
					Condition:</a></label>
				<div id="condition_div" class="row my-row collapse">
					<div class="col-9 form-group">
						<input type="text" class="form-control" name="condition" id="condition">
					</div>
				</div>
			</div>
		</div>
		<div class="row my-row col-3">
			<button type="button" name="append" id="add_component" onclick="add_element()">Add Component</button>
		</div>
		<br/>
		<div class="row my-row">
			<div class="col-1">
				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#print_div">
					Print...
				</button>
			</div>
			<div class="col-1">
				<button type="submit" class="btn btn-info" name="submit" id="submit">Save
				</button>
			</div>
			<div class="col-1">
				<button type="button" class="btn btn-outline-info" name="cancel" id="cancel"
				        onclick="openWindow();">
					Cancel
				</button>
			</div>
		</div>

		<hr/>
		<div id="print_div" class="collapse">
			<div class="row my-row">
				<div class="col">
					<h2>Print</h2>
				</div>
			</div>
			<div class="row my-row">
				<div class="col-2 form-group">
					<label for="small_label">Small Label Copies:</label>
					<input data-prefix="Copies" type="number" value="0" min="0" max="100" step="1"
					       class="form-control" name="small_label" id="small_label"/>
				</div>
			</div>
			<div class="row my-row">
				<div class="col-2 form-group">
					<label for="medium_label">Medium Label Copies:</label>
					<input type="number" value="0" min="0" max="100" step="1" name="medium_label"
					       class="form-control" id="medium_label"/>
				</div>
			</div>
			<div class="row my-row">
				<div class="col-3">
					<button type="button" class="btn btn-info" name="append" id="aaa" onclick="add_element()">
						Print
					</button>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	var _counter = 0;
	function add_element() {
		var structure_kit = $('<div class="append-wrap">test</div>');

		$(".containers_div").append(structure_kit.clone());
		_counter++;
		var oClone = document.getElementById("container_div").cloneNode(true);
		oClone.id += (_counter + "");
		document.getElementById("containers_div").appendChild(oClone);
	}

	function update() {
		document.getElementById("m_part_num").value = document.getElementById("box_lot_barcode").value.slice(0, 5);
		document.getElementById("m_lot_num").value = document.getElementById("box_lot_barcode").value;
	}

	function remove() {
		var last_chq_no = $('#total_chq').val();

		if (last_chq_no > 1) {
			$('#new_' + last_chq_no).remove();
			$('#total_chq').val(last_chq_no - 1);
		}
	}

	$('#my-link').click(function(e) {
		$('#condition_div').collapse('hide');
	});



</script>
{% endblock content %}