{% extends "layout.html" %}

{% block content %}
<br/>
<br/>
<br/>
<div class="button_card" align="center">
    <form action="{{ url_for('add_manufacturer') }}">
        <button type="submit" class="btn btn-info add" name="manufacturer">Add Manufacturer</button>
    </form>
    <br/>
    <form action="{{ url_for('add_kit') }}">
        <button type="submit" class="btn btn-info add" name="kit">Add Kit</button>
    </form>
    <br/>
    <form action="{{ url_for('add_reagent') }}">
        <button type="submit" class="btn btn-info add" name="reagent">Add Reagent</button>
    </form>
    <br/>
    <form action="{{ url_for('add_made_reagent') }}">
        <button type="submit" class="btn btn-info add" name="made_reagent">Add Made-Reagent</button>
    </form>
</div>
{% endblock content %}