{% extends "layout.html" %}
{% block content %}
<div>
	<form action="{{ url_for('add_kit') }}" method="post">
		<button type="submit" class="btn btn-info" name="kit" value="test">Add Kit</button>
	</form>
	<br/>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Master Name</th>
			</tr>
		</thead>
		<tbody>
			{% for item in kit_master %}
			<tr>
				<td>{{ item['id'] }}</td>
				<td>{{ item['master_name'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}