{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
	<div class="media-body">
		<h2 class="article-title">{{ table.title }}</h2>

		<h2>Graphs</h2>
		<div id="chart"></div>
		<h2>Table</h2>
		<div id="table"></div>
	</div>
</article>
{% endblock content %}

{% block js %}
<!-- Bootstrap core JavaScript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/javascript/d3.v5.min.js"></script>
<script src="../static/javascript/graph_init.js"></script>
<script src="../static/javascript/graph.js"></script>
<script src="../static/javascript/table.js"></script>
<script type="text/javascript">
	var data_json = {{ data_list | safe }};
	function filter(keyword) {
		var select = document.getElementById("files");
		for (var i = 0; i < select.length; i++) {
			var txt = select.options[i].text;
			var include = txt.toLowerCase().startsWith(keyword.toLowerCase());
			select.options[i].style.display = include ? 'list-item':'none';
		}
	}
	d3.selectAll(".type").on("change",update_bar_graph);

      //var data_json = d3.json("/static/data.json");
      update_bar_graph(data_json);
      //tabulate(data_json, {{ col_order | safe }});
</script>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
	feather.replace()
</script>
{% endblock js %}