{% extends "layout.html" %}

{% block content %}
<form action="/add_reagent_redirect" method="post"  onsubmit="return confirmMsg();">
	<div class="container my-container">
		<div class="row">
			<div class="col">
				<h2>Reagent</h2>
				<hr/>
				<h4>Master Information</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-3 form-group">
				<label for="name">Reagent Name:</label>
				<input type="text" class="form-control" id="name" name="name" required>
			</div>
			<div class="col-3 form-group">
				<label for="manu_name">Manufacturer:</label>
				<select class="form-control" id="manu_name" name="manu_name" onchange="enable(this)">
					<option value=""></option>
					{% for item in manu_name%}
					<option
						value="{{item.part_num}},{{item.lot_num}},{{item.exp_date}},{{item.part_start}},{{item.part_end}},{{item.lot_start}},{{item.lot_end}},{{ item.name }}">
						{{ item.name }}
					</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-4 form-group">
				<label for="barcode">Box Lot Barcode:</label>
				<input type="text" class="form-control" id="barcode" name="barcode" oninput="update()">
			</div>
		</div>
		<div class="row my-row">
			<div class="col-3 form-group">
				<label for="part_num">Part Number:</label>
				<input type="text" class="form-control" id="part_num" name="part_num" readonly>
			</div>
			<div class="col-3 form-group">
				<label for="lot_num">Lot Number:</label>
				<input type="text" class="form-control" id="lot_num" name="lot_num" readonly>
			</div>
			<div class="col-3 form-group">
				<label for="exp_date">Expiry Date:</label>
				<input type="date" class="form-control" id="exp_date" name="exp_date" disabled>
			</div>
			<div class="col-2 form-group">
				<label for="quantity">Quantity:</label>
				<input type="number" value="0" min="0" max="100" step="1" name="quantity"
				       class="form-control" id="quantity"/>
			</div>
		</div>
		<br/>
		<div class="row my-row">
			<div class="col-2">
				<button type="button" class="btn btn-info" data-toggle="collapse"
				        data-target="#print_div">
					Print Option
				</button>
			</div>
			<div class="col-2">
				<button type="submit" class="btn btn-info" name="submit" id="submit">
					Save & Print
				</button>
			</div>
			<div class="col-2">
				<button type="button" class="btn btn-outline-info" name="cancel" id="cancel" onclick="window.location.href='{{ url_for('reagents') }}'">
					Cancel
				</button>
			</div>
		</div>
		<div id="print_div" class="collapse">
			<hr/>
			<div class="row my-row">
				<div class="col">
					<h2>Print</h2>
				</div>
			</div>
			<div class="row my-row">
				<div class="col-3 form-group">
					<label for="reagent_label">Kit Label Copies</label>
					<select class="form-control" id="reagent_label_size" name="reagent_label_size">
						<option value="s">Small</option>
						<option value="m">Medium</option>
					</select>
					<br/>
					<input data-prefix="Copies" type="number" value="1" min="1" max="100" step="1"
					       class="form-control" name="reagent_label" id="reagent_label"/>
				</div>
				<div class="col-3 form-group">
					<label for="comp_label">Component Label Copies</label>
					<select class="form-control" id="comp_label_size" name="comp_label_size">
						<option value="s">Small</option>
						<option value="m">Medium</option>
					</select>
					<br/>
					<input data-prefix="Copies" type="number" value="1" min="1" max="100" step="1"
					       class="form-control" name="comp_label" id="comp_label"/>
				</div>
			</div>
			<br/>
		</div>
	</div>
</form>
{% endblock content %}