{% extends "layout.html" %}
{% block content %}
<div>
	<br/>
	<div class="container my-container">
		<div class="row">
			<div class="col-10">
					<h3>Reagents</h3>
			</div>
			<div class="col">
				<form action="{{ url_for('add_reagent') }}" method="post">
					<button type="submit" class="btn btn-info" value="test">Add Reagent</button>
				</form>
			</div>
		</div>
	</div>
	<br/>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Reagent Name</th>
			</tr>
		</thead>
		<tbody>
			{% for reagent in reagents %}
			<tr>
				<td>{{ reagent.id }}</td>
				<td><a href="{{ url_for('reagent', reagent_id=reagent.id) }}">{{ reagent.name }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}