{% extends "layout.html" %}
{% block content %}
<div class="container my-container">
	<div class="row">
		<div class="col-10">
			<h2>Reagents</h2>
		</div>
		<div class="col">
			<form action="{{ url_for('add_reagent') }}" method="post">
				<button type="submit" class="btn btn-info" name="reagent">Add Reagent</button>
			</form>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-12">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>ID</th>
					<th>Kit Name</th>
				</tr>
				</thead>
				<tbody>
				{% for reagent in reagents %}
				<tr>
					<td>{{ reagent.id }}</td>
					<td><a href="{{ url_for('reagent', reagent_id=reagent.id) }}">{{ reagent.name }}</a></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}