{% extends "layout.html" %}

{% block content %}
<form class="kit" action="/add_manufacturer_redirect" onsubmit="return validateForm()" method="post">
	<div class="container my-container">
		<div class="row my-row">
			<div class="col">
				<h2>Manufacturer</h2>
				<hr/>
				<h4>Master Information</h4>
			</div>
		</div>
		<div class="row my-row">
			<div class="col-3 form-group ">
				<label for="manu_name">Manufacturer Name:</label>
				<input type="text" class="form-control" id="manu_name" name="manu_name" required>
			</div>
			<div class="col-4 form-group">
				<label for="barcode">Box Lot Barcode:</label>
				<input type="text" class="form-control" id="barcode" name="barcode">
			</div>
		</div>
		<label>Component Fields:</label>
		<div class="row my-row">
			<div class="col-3 form-group">
				<input  type="checkbox" class="form-group big_cb" id="part_num_cb"  name="cb" value="part_num"
				        checked="checked" onchange="document.getElementById('part_num_btn').disabled = !this.checked;">Part Number
			</div>
			<div class="col-3 form-group">
				<input type="checkbox" class="form-group big_cb" id="lot_num_cb" name="cb" value="lot_num"
				       checked="checked" onchange="document.getElementById('lot_num_btn').disabled = !this.checked;">Lot Number
			</div>
			<div class="col-3 form-group">
				<input type="checkbox" class="form-group big_cb" id="exp_date_cb" name="cb" value="exp_date"
				       checked="checked">Expiry Date
			</div>
		</div>
		<div class="row my-row">
			<div class="col-3 form-group">
				<label for="part_num">Part Number:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="part_num" name="part_num" readonly>
					<input type="text" class="form-control" id="part_start" name="part_start" hidden>
					<div class="input-group-btn">
						<button  type="button" class="btn btn-default" id="part_num_btn" onclick="update(this)">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="col-3 form-group">
				<label for="lot_num">Lot Number:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="lot_num" name="lot_num" readonly>
					<input type="text" class="form-control" id="lot_start" name="lot_start" hidden>
					<div class="input-group-btn">
						<button type="button" class="btn btn-default" id="lot_num_btn"  onclick="update(this)">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<hr/>
		<div class="row my-row">
			<div class="col">
				<h4>Component Information</h4>
			</div>
		</div>
		<label>Component Fields:</label>
		<div class="row my-row">
			<div class="col-3 form-group">
				<input type="checkbox" class="form-group big_cb" name="comp_cb"  value="barcode"
				       checked="checked" onchange="document.getElementById('barcode').disabled = !this.checked;">Component Barcode
			</div>
			<div class="col-3 form-group">
				<input type="checkbox" class="form-group big_cb" name="comp_cb" value="part_num"
				       checked="checked" onchange="document.getElementById('comp_part_num_btn').disabled = !this.checked;">Part Number
			</div>
			<div class="col-3 form-group">
				<input type="checkbox" class="form-group big_cb" name="comp_cb"  value="lot_num"
				       checked="checked" onchange="document.getElementById('comp_lot_num_btn').disabled = !this.checked;" >Lot Number
			</div>
		</div>
		<div class="row my-row">
			<div class="col-4 form-group">
				<label for="comp_barcode">Component Barcode:</label>
				<input type="text" class="form-control" id="comp_barcode">
			</div>
			<div class="col-3 form-group">
				<label for="comp_part_num">Part Number:</label>
				<div class="input-group">
					<input type="text" class="form-control" id="comp_part_num" name="comp_part_num" readonly>
					<input type="text" class="form-control" id="comp_part_start" name="comp_part_start" hidden>
					<div class="input-group-btn">
						<button type="button" class="btn btn-default" id="comp_part_num_btn" onclick="update_comp(this)">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="col-3 form-group">
				<label for="comp_lot_num">Lot Number:</label>
				<div class="comp_input-group">
					<input type="text" class="form-control" id="comp_lot_num" name="comp_lot_num" readonly>
					<input type="text" class="form-control" id="comp_lot_start" name="comp_lot_start" hidden>
					<div class="input-group-btn">
						<button type="button" class="btn btn-default" id="comp_lot_num_btn" onclick="update_comp(this)">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row my-row">
			<div class="col-1">
				<button type="submit" class="btn btn-info" id="submit">Save</button>
			</div>
			<div class="col-1">
				<button type="button" class="btn btn-outline-info"  id="cancel">Cancel</button>
			</div>
		</div>
	</div>
</form>

<script>
	function update(element) {
	      var barcode = document.getElementById("barcode")
		var myRegexp = /\.([^.]+)\./g;
		var match = myRegexp.exec(barcode.value);
		if (match != null) {
			document.getElementById($(element).attr("id").slice(0,-4)).setAttribute("value",match[1]);
			document.getElementById($(element).attr("id").slice(0,-7)+"start").setAttribute("value",barcode.value.indexOf("."));
			barcode.value = barcode.value.split('.').join("");
		}
	}

	function update_comp(element) {
	      var barcode = document.getElementById("comp_barcode")
		var myRegexp = /\.([^.]+)\./g;
		var match = myRegexp.exec(barcode.value);
		if (match != null) {
			document.getElementById($(element).attr("id").slice(0,-4)).setAttribute("value",match[1]);
			document.getElementById($(element).attr("id").slice(0,-7)+"start").setAttribute("value",barcode.value.indexOf("."));
			barcode.value = barcode.value.split('.').join("");
		}
	}
</script>
{% endblock content %}