{% extends "header.html" %}

{% block body %}
    <div class="card shadow">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h4 class="ml-5 m-0 font-weight-bold text-primary">Add Kit</h4>
            <button type="button" data-toggle="collapse" data-target="#super_kit_div" class="btn btn-outline-secondary mr-5" onclick="edit_button(this)">Add Super Kit</button>
        </div>

        <!-- Card Body -->
        <form action="{{ url_for('add_kit') }}" method="post" onsubmit="return confirmMsg();" onkeypress="if(event.keyCode === 13) {event.preventDefault();return false;}">
            <div class="card-body mr-5 ml-5">
                <div id="super_kit_div" class="row collapse mt-3 mb-3">
                    <div class="col">
                        <h4>Super Kit Information</h4>
                    </div>
                </div>
                <div id="super_kit_div" class="row collapse">
                    <div class="col-4 form-group">
                        <label for="sk_name">Super Kit Name</label>
                        <input type="text" class="form-control" id="sk_name" name="sk_name" oninput="search_sk(this);">
                    </div>
                    <div class="col-3 form-group">
                        <label for="sk_part_num">Part Number</label>
                        <input type="text" class="form-control" id="sk_part_num" name="sk_part_num">
                    </div>
                    <div class="col-2 form-group">
                        <label for="sk_quantity">Quantity</label>
                        <input type="number" value="1" min="1" max="100" step="1" name="sk_quantity" class="form-control" id="sk_quantity"/>
                    </div>
                </div>
                <div id="super_kit_div" class="row collapse">
                    <div class="col-6 form-group">
                        <label for="comment">Comments</label>
                        <textarea class="form-control" name="sk_comment" id="comment" rows="3"></textarea>
                    </div>
                </div>

                <div id="edit_button_div" class="row mt-3 mb-3">
                    <div class="col">
                        <h4>Master Information</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 form-group">
                        <label for="name">Kit Name</label>
                        <input type="text" class="form-control" id="name" name="name" oninput="search_kit(this)" required>
                    </div>
                    <div class="col-4 form-group">
                        <label for="manu_name">Manufacturer</label>
                        <select class="form-control" id="manu_name" name="manu_name" onchange="update_all(this)" required>
                            <option selected="selected" value="0,0,0,0,0,0,0,0,0,0"></option>
                            {% for manufacturer in manufacturers %}
                                <option value="{{ manufacturer.id }},{{ manufacturer.get_barcode_pat().part_start }},{{ manufacturer.get_barcode_pat().part_end }},{{ manufacturer.get_barcode_pat().lot_start }},{{ manufacturer.get_barcode_pat().lot_end }},{{ manufacturer.exp_date_start }},{{ manufacturer.exp_date_end }},{{ manufacturer.get_comp_barcode_pat().part_start }},{{ manufacturer.get_comp_barcode_pat().part_end }},{{ manufacturer.get_comp_barcode_pat().lot_start }},{{ manufacturer.get_comp_barcode_pat().lot_end }}">{{ manufacturer.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 form-group">
                        <label for="barcode">Box Lot Barcode</label>
                        <input type="text" class="form-control" id="barcode" name="barcode" oninput="update_barcode()">
                    </div>
                    <div class="col-3 form-group">
                        <label for="part_num">Part Number</label>
                        <input type="text" class="form-control" id="part_num" name="part_num">
                    </div>
                    <div class="col-3 form-group">
                        <label for="lot_num">Lot Number</label>
                        <input type="text" class="form-control" id="lot_num" name="lot_num">
                    </div>
                    <div class="col-2 form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" value="1" min="1" max="100" step="1" name="quantity" class="form-control" id="quantity"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 form-group">
                        <label for="exp_date">Expiry Date</label>
                        <input type="date" class="form-control" id="exp_date" name="exp_date" min="{{ today }}">
                    </div>
                    <div class="col-3 form-group">
                        <label for="date_tested">Date Tested</label>
                        <input type="date" class="form-control" id="date_tested" name="date_tested" min="{{ today }}">
                    </div>
                    <div class="col-3 form-group">
                        <label for="p_num">P#</label>
                        <input type="text" class="form-control" id="p_num" name="p_num">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="comment">Comments</label>
                        <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                    </div>
                </div>
                <hr/>
                <div class="row mt-5 mb-3">
                    <div class="col">
                        <h4>Component Information</h4>
                    </div>
                    <div class="col-3 text-center">
                        <button type="button" class="btn btn-outline-secondary" name="append" id="add_comp" onclick="clone_element(document.getElementById('comp0'));">Add Component</button>
                    </div>
                </div>
                <fieldset id="comps">
                    <fieldset id="comp0" class="mb-5" hidden>
                        <div class="row">
                            <div class="col-3 form-group">
                                <label for="comp_name0">Component Name</label>
                                <input type="text" class="form-control" id="comp_name0" name="comp_name">
                            </div>
                            <div class="col-4 form-group">
                                <label for="comp_barcode0">Component Barcode</label>
                                <input type="text" class="form-control" id="comp_barcode0" name="comp_barcode" oninput="update_comp(this)">
                            </div>
                            <div class="col-2 form-group"></div>
                            <div class="col-1 form-group mt-4">
                                <label for="copy_num0" hidden></label>
                                <input type="number" value="1" min="1" step="1" class="form-control" id="copy_num0" name="copy_num"/>
                            </div>
                            <div class="col-2 form-group mt-4">
                                <button type="button" class="btn btn-outline-secondary" id="clone0" onclick="clone_element(this)">
                                    <i class="fa fa-clone" style="font-size: 24px"></i>
                                </button>
                                <button type="button" class="btn btn-outline-secondary" id="trash0" onclick="remove_element(this)">
                                    <i class="fa fa-trash" style="font-size: 24px"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 form-group">
                                <label for="part_num0">Part Number</label>
                                <input type="text" class="form-control" id="part_num0" name="comp_part_num">
                            </div>
                            <div class="col-3 form-group">
                                <label for="lot_num0">Lot Number</label>
                                <input type="text" class="form-control" id="lot_num0" name="comp_lot_num">
                            </div>
                            <div class="col-3 form-group">
                                <label for="exp_date0">Expiry Date</label>
                                <input type="date" class="form-control" id="exp_date0" name="comp_exp_date" min="{{ today }}">
                            </div>
                            <div class="col-2 form-group">
                                <label for="size0">Label Size</label>
                                <select class="form-control" id="size0" name="size">
                                    <option value="s">S</option>
                                    <option value="m">M</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="condition0">Component Storage Condition</label>
                                <textarea class="form-control" id="condition0" name="condition" rows="1"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </fieldset>
            </div>
            <div class="card-footer row m-0">
                <div class="col-4"></div>
                <div class="col-2">
                    <button type="submit" class="form-control btn-primary button" name="submit" id="submit">Save</button>
                </div>
                <div class="col-2">
                    <button type="button" class="form-control btn-outline-primary" name="cancel" id="cancel" onclick="window.history.back();">Cancel</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/add_kit.js') }}"></script>
    <script>
        function search_sk(element) {
            let form_elements;
            {% for super_kit in super_kits %}
                if (element.value.localeCompare('{{ super_kit.name }}') === 0) {
                    document.getElementById('sk_part_num').value = '{{ super_kit.part_num }}';
                    {% with kit=super_kit.kit %}
                        {% if kit != None %}
                            document.getElementById('name').value = '{{ kit.name }}';
                            document.getElementById('manu_name').selectedIndex = '{{ kit.get_manufacturer().id }}';
                            document.getElementById('barcode').value = '{{ kit.barcode }}';
                            document.getElementById('quantity').value = '{{ kit.quantity }}';

                            const length = document.getElementById('comps').childNodes.length / 2 - 1;
                            {% for component in kit.components %}
                                if ({{ loop.index }} <= {{ kit.components.count()/kit.quantity }}) {
                                if ({{ loop.index }} >
                                length
                            )
                                {
                                    clone_element(document.getElementById('comp0'));
                                }
                                form_elements = document.getElementById('comp{{ loop.index }}').getElementsByClassName('form-control');
                                form_elements[0].value = '{{ component.name }}';
                                form_elements[1].value = '{{ component.barcode }}';
                                if ('{{ component.size }}' == 's') {
                                    form_elements[6].selectedIndex = 0;
                                } else {
                                    form_elements[6].selectedIndex = 1;
                                }
                            }
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                }
            {% endfor %}
            update_all(document.getElementById('manu_name'));
        }

        function search_kit(element) {
            let form_elements;
            {% for kit in kits %}
                if (element.value.localeCompare('{{ kit.name }}') === 0) {
                    document.getElementById('name').value = '{{ kit.name }}';
                    document.getElementById('manu_name').selectedIndex = '{{ kit.get_manufacturer().id }}';
                    document.getElementById('barcode').value = '{{ kit.barcode }}';
                    document.getElementById('quantity').value = '{{ kit.quantity }}';

                    const length = document.getElementById('comps').childNodes.length / 2 - 1;
                    {% for component in kit.components %}
                        if ({{ loop.index }} > length) {
                        clone_element(document.getElementById('comp0'));
                    }
                        form_elements = document.getElementById('comp{{ loop.index }}').getElementsByClassName('form-control');
                        form_elements[0].value = '{{ component.name }}';
                        form_elements[1].value = '{{ component.barcode }}';
                    {% endfor %}
                }
            {% endfor %}
            update_all(document.getElementById('manu_name'));
        }
    </script>
{% endblock script %}