{% extends "header.html" %}

{% block body %}
    <div class="card shadow">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h4 class="ml-5 m-0 font-weight-bold text-primary">Kit</h4>

            <div class="dropdown no-arrow">
                <a class="dropdown-toggle btn btn-default" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Options:</div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#printModal">Print Label</a>
                    <a class="dropdown-item" href="#" onclick="window.print();return false;">Print</a>
                    <a class="dropdown-item" id="edit_btn" href="#" data-toggle="modal" data-target="#kitModal" onclick="return editMsg('{{ deletable }}');">Edit</a>
                    <a class="dropdown-item" id="add_btn" href="#" data-toggle="modal" data-target="#compModal" onclick="setTitle('Add Component'); //return addMsg('{{ deletable }}');">Add Component</a>
                    <a class="dropdown-item" href="{{ url_for('delete', element_type='kit', element_id=kit.id) }}" onclick="return deleteMsg('{{ deletable }}'); ">Delete</a>
                </div>
            </div>
        </div>

        <!-- Card Body -->
        <div class="card-body ml-5 mr-5 mt-3">
            {% if super_kit %}
                <div class="row form-group">
                    <div class="col-4 text-right"><strong>Super Kit Name</strong></div>
                    <div class="col-small"></div>
                    <div class="col-5">{{ super_kit.name }}</div>
                </div>

                <div class="row form-group">
                    <div class="col-4 text-right"><strong>Part Number</strong></div>
                    <div class="col-small"></div>
                    <div class="col-5">
                        {% if super_kit.part_num %}
                            {{ super_kit.part_num }}
                        {% else %}
                            N/A
                        {% endif %}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-4 text-right"><strong>Comments</strong></div>
                    <div class="col-small">
                        <button type="button" class="form-control btn-circle" data-toggle="modal" data-target="#commentModal" onclick="document.getElementById('kit_comment').setAttribute('hidden','True'); document.getElementById('super_comment').removeAttribute('hidden')"><i class="fa fa-pen"></i></button>
                    </div>
                    <div class="col-5">
                        {{ super_kit.comment }}
                    </div>
                </div>
            <hr/>
            {% endif %}

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Kit Name</strong></div>
                <div class="col-small"></div>
                <div class="col-5">{{ kit.name }}</div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Manufacturer</strong></div>
                <div class="col-small"></div>
                <div class="col-5">
                    {% if kit.get_manufacturer() %}
                        <a href="{{ url_for('manufacturer', manufacturer_id=kit.get_manufacturer().id) }}">{{ kit.get_manufacturer().name }}</a>
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Box Lot Barcode</strong></div>
                <div class="col-small"></div>
                <div class="col-5">
                    {% if kit.barcode and kit.barcode|length > 0 %}
                        {{ kit.barcode }}
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Part Number</strong></div>
                <div class="col-small"></div>
                <div class="col-5">
                    {% if kit.part_num and kit.part_num|length > 0 %}
                        {{ kit.part_num }}
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Lot Number</strong></div>
                <div class="col-small"></div>
                <div class="col-5">
                    {% if kit.lot_num and kit.lot_num|length > 0 %}
                        {{ kit.lot_num }}
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Expiry Date</strong></div>
                <div class="col-small"></div>
                <div class="col-5">
                    {% if kit.exp_date %}
                        {{ kit.exp_date.strftime("%B %e, %Y") }}
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Date Tested</strong></div>
                <div class="col-small"></div>
                <div class="col-5">
                    {% if kit.date_tested %}
                        {{ kit.date_tested.strftime("%B %e, %Y") }}
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>P#</strong></div>
                <div class="col-small"></div>
                <div class="col-5">
                    {% if kit.p_num %}
                        {{ kit.p_num }}
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>UID</strong></div>
                <div class="col-small"></div>
                <div class="col-5">
                    {% for uid in kit.get_uids() %}
                        <p>{{ uid }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Date Entered</strong></div>
                <div class="col-small"></div>
                <div class="col-5">{{ kit.date_entered.strftime("%B %e, %Y") }}</div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Entered By</strong></div>
                <div class="col-small"></div>
                <div class="col-5">{{ kit.get_user() }}</div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Comments</strong></div>
                <div class="col-small">
                    <button type="button" class="form-control btn-circle" data-toggle="modal" data-target="#commentModal" onclick="document.getElementById('kit_comment').removeAttribute('hidden'); document.getElementById('super_comment').setAttribute('hidden','True')"><i class="fa fa-pen"></i></button>
                </div>
                <div class="col-5">
                    {{ kit.comment }}
                </div>
            </div>

            <hr/>

            <div class="row mt-4 mb-4">
                <div class="col-12">
                    <h5 class="text-primary"><strong>Components</strong></h5>
                </div>
            </div>
            <div class="row mb-5 ml-1 mr-1">
                {% for uid in kit.get_uids() %}
                    <div class="mb-2 col-2">
                        {% if super_kit %}
                        <button type="button" class="form-control btn-outline-secondary" title="Kit UID: {{ uid }}" data-toggle="collapse" data-target="#comp_div{{ loop.index }}">Kit {{ loop.index }}/{{ kit.quantity * super_kit.quantity }}</button>
                        {% else %}
                        <button type="button" class="form-control btn-outline-secondary" title="Kit UID: {{ uid }}" data-toggle="collapse" data-target="#comp_div{{ loop.index }}">Kit {{ loop.index }}/{{ kit.quantity }}</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% for i in kit.get_uids() %}
                <div class="row collapse mb-5" id="comp_div{{ loop.index }}">
                    <table class="table table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>UID</th>
                            <th>Barcode</th>
                            <th>Part Number</th>
                            <th>Lot Number</th>
                            <th>Expiry Date</th>
                            <th>Storage Condition</th>
                            <th>Label Size</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if super_kit %}
                        {% for component in kit.components[(loop.index - 1) * kit.components.count() // (kit.quantity * super_kit.quantity):loop.index * kit.components.count() // (kit.quantity * super_kit.quantity)] %}
                        <tr>
                                <td>{{ component.name }}</td>
                                <td>{{ component.uid }}</td>
                                <td>{{ component.barcode }}</td>
                                <td>{{ component.part_num }}</td>
                                <td>{{ component.lot_num }}</td>
                                {% if component.exp_date %}
                                    <td>{{ component.exp_date.strftime("%B %e, %Y") }}</td>
                                {% elif not component.exp_date %}
                                    <td>N/A</td>
                                {% endif %}
                                <td>{{ component.condition }}</td>
                                <td>{{ component.size.upper() }}</td>
                                <td>
                                    <button class="form-control" data-target="#compModal" data-toggle="modal" onclick="setTitle('Edit Component'); edit_comp{{ component.id }}();">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="form-control" data-target="#compPrintModal" data-toggle="modal" onclick="document.getElementById('comp_print').setAttribute('value', '{{ component.id }}')">
                                        <i class="fa fa-print" style="font-size:24px"></i>
                                    </button>
                                </td>
                            </tr>
                            <script>
                                function edit_comp{{ component.id }}() {
                                    document.getElementById("edit_form").setAttribute("action", "{{ url_for('kit', kit_id=kit.id) }}");
                                    document.getElementById("comp_id").setAttribute("value", "{{ component.id }}");
                                    document.getElementById("comp_name").setAttribute("value", "{{ component.name }}");
                                    document.getElementById("comp_barcode").setAttribute("value", "{{ component.barcode }}");
                                    document.getElementById("comp_part_num").setAttribute("value", "{{ component.part_num }}");
                                    document.getElementById("comp_lot_num").setAttribute("value", "{{ component.lot_num }}");
                                    document.getElementById("comp_exp_date").setAttribute("value", "{{ component.exp_date.date() }}".split(" ")[0]);
                                    document.getElementById("comp_condition").setAttribute("value", "{{ component.condition }}");
                                }
                            </script>
                        {% endfor %}
                        {% else %}
                        {% for component in kit.components[(loop.index - 1) * kit.components.count() // kit.quantity:loop.index * kit.components.count() // kit.quantity] %}
                            <tr>
                                <td>{{ component.name }}</td>
                                <td>{{ component.uid }}</td>
                                <td>{{ component.barcode }}</td>
                                <td>{{ component.part_num }}</td>
                                <td>{{ component.lot_num }}</td>
                                {% if component.exp_date %}
                                    <td>{{ component.exp_date.strftime("%B %e, %Y") }}</td>
                                {% elif not component.exp_date %}
                                    <td>N/A</td>
                                {% endif %}
                                <td>{{ component.condition }}</td>
                                <td>{{ component.size.upper() }}</td>
                                <td>
                                    <button class="form-control" data-target="#compModal" data-toggle="modal" onclick="setTitle('Edit Component'); edit_comp{{ component.id }}();">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="form-control" data-target="#compPrintModal" data-toggle="modal" onclick="document.getElementById('comp_print').setAttribute('value', '{{ component.id }}')">
                                        <i class="fa fa-print" style="font-size:24px"></i>
                                    </button>
                                </td>
                            </tr>
                            <script>
                                function edit_comp{{ component.id }}() {
                                    document.getElementById("edit_form").setAttribute("action", "{{ url_for('kit', kit_id=kit.id) }}");
                                    document.getElementById("comp_id").setAttribute("value", "{{ component.id }}");
                                    document.getElementById("comp_name").setAttribute("value", "{{ component.name }}");
                                    document.getElementById("comp_barcode").setAttribute("value", "{{ component.barcode }}");
                                    document.getElementById("comp_part_num").setAttribute("value", "{{ component.part_num }}");
                                    document.getElementById("comp_lot_num").setAttribute("value", "{{ component.lot_num }}");
                                    document.getElementById("comp_exp_date").setAttribute("value", "{{ component.exp_date.date() }}".split(" ")[0]);
                                    document.getElementById("comp_condition").setAttribute("value", "{{ component.condition }}");
                                }
                            </script>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block modal %}
    <!--Edit Comment Modal-->
    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="card shadow modal-content">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 class="modal-title">Edit Comment</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <!-- Card Body -->
                <form action="{{ url_for('kit', kit_id=kit.id) }}" method="post">
                    <div class="modal-body">
                        <textarea class="form-control" id="kit_comment" name="kit_comment">{{ kit.comment }}</textarea>
                        <textarea class="form-control" id="super_comment" name="super_comment">{{ super_kit.comment }}</textarea>
                    </div>
                    <div class="modal-footer row m-0">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <button type="submit" class="form-control btn-primary">Update</button>
                        </div>
                        <div class="col-3">
                            <button type="button" class="form-control btn-outline-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--Edit Kit Modal-->
    <div class="modal fade" id="kitModal" tabindex="-1" aria-labelledby="kitModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="card shadow modal-content">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 class="modal-title">Edit Kit</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <!-- Card Body -->
                <form method="post">
                    <div class="modal-body">
                        <div class="row">
                            <input class="form-control" type="number" name="kit_id" hidden>
                            <div class="col-4 form-group">
                                <label for="comp_name">Name</label>
                                <input class="form-control" name="name" value="{{ kit.name }}">
                            </div>
                            <div class="col-5 form-group">
                                <label for="kit_barcode">Barcode</label>
                                <input class="form-control" name="barcode" id="kit_barcode" value="{{ kit.barcode }}" oninput="update_barcode()">
                            </div>
                            <div class="col-3 form-group">
                                <label for="kit_quantity">Quantity</label>
                                <input class="form-control" name="quantity" id="kit_quantity" type="number" value="{{ kit.quantity }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <label for="kit_part_num">Part Number</label>
                                <input class="form-control" name="part_num" id="kit_part_num" value="{{ kit.part_num }}">
                            </div>
                            <div class="col-4 form-group">
                                <label for="kit_lot_num">Lot Number</label>
                                <input class="form-control" name="lot_num" id="kit_lot_num" value="{{ kit.lot_num }}">
                            </div>
                            <div class="col-4 form-group">
                                <label for="kit_exp_date">Expiry Date</label>
                                <input class="form-control" name="exp_date" id="kit_exp_date" type="date" value="{% if kit.exp_date %}{{ kit.exp_date.strftime('%Y-%m-%d') }}{% endif %}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <label for="kit_date_tested">Date Tested</label>
                                <input class="form-control" name="date_tested" id="kit_date_tested" type="date" value="{% if kit.date_tested %}{{ kit.date_tested.strftime('%Y-%m-%d') }}{% endif %}">
                            </div>
                            <div class="col-4 form-group">
                                <label for="kit_p_num">P#</label>
                                <input class="form-control" id="kit_p_num" name="p_num">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer row m-0">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <button type="submit" class="form-control btn-primary">Update</button>
                        </div>
                        <div class="col-3">
                            <button type="button" class="form-control btn-outline-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Edit Component Modal-->
    <div class="modal fade" id="compModal" tabindex="-1" aria-labelledby="compModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="card shadow modal-content">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 id="compModalTitle" class="modal-title">Edit Component</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <!-- Card Body -->
                <form id="edit_form" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <input class="form-control" type="number" name="comp_id" id="comp_id" hidden>
                            <div class="col-4 form-group">
                                <label for="comp_name">Name</label>
                                <input class="form-control" name="name" id="comp_name">
                            </div>
                            <div class="col-5 form-group">
                                <label for="comp_barcode">Barcode</label>
                                <input class="form-control" name="barcode" id="comp_barcode" oninput="update_comp(this)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <label for="comp_part_num">Part Number</label>
                                <input class="form-control" name="part_num" id="comp_part_num">
                            </div>
                            <div class="col-4 form-group">
                                <label for="comp_lot_num">Lot Number</label>
                                <input class="form-control" name="lot_num" id="comp_lot_num">
                            </div>
                            <div class="col-4 form-group">
                                <label for="comp_exp_date">Expiry Date</label>
                                <input class="form-control" name="exp_date" id="comp_exp_date" type="date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="comp_condition">Storage Condition</label>
                                <input class="form-control" name="condition" id="comp_condition">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer row m-0">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <button type="submit" class="form-control btn-primary" id="update_btn">Update</button>
                        </div>
                        <div class="col-3">
                            <button type="button" class="form-control btn-outline-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Print Kit Modal-->
    <div class="modal fade" id="printModal" tabindex="-1" aria-labelledby="printModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="card shadow modal-content">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 class="modal-title">Print Label</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <!-- Card Body -->
                <form action="{{ url_for('print_kit', kit_id=kit.id) }}" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col form-group">
                                <h5>Kit Label Copies</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <select class="form-control" name="kit_label_size">
                                    <option value="m">Medium</option>
                                    <option value="s">Small</option>
                                </select>
                            </div>
                            <div class="col-6 form-group">
                                <input type="number" class="form-control" name="kit_label" value="{{ kit.quantity }}" readonly/>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col form-group">
                                <h5>Component Label Copies</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="small_label">Small Labels</label>
                            </div>
                            <div class="col-6 form-group">
                                <label for="medium_label">Medium Labels</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <input type="number" class="form-control" id="small_label" value="{{ kit.components.filter_by(size='s').count() // kit.quantity }}" readonly/>
                            </div>
                            <div class="col-6 form-group">
                                <input type="number" class="form-control" id="medium_label" value="{{ kit.components.filter_by(size='m').count() // kit.quantity }}" readonly/>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col form-group">
                                <h5>Printer</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="sm_printer_id">Small Printer Id</label>
                                <select name="sm_printer_id" id="sm_printer_id" class="form-control">
                                    <option value="1">Bbp12_circle</option>
                                    <option value="sm_2">Bbp12_2</option>
                                    <option value="sm_3">Bbp12_4</option>
                                    <option value="sm_4" selected>Bbp12_6</option>
                                </select>
                            </div>
                            <div class="col-6 form-group">
                                <label for="med_printer_id">Medium Printer Id</label>
                                <select name="med_printer_id" id="med_printer_id" class="form-control">
                                    <option value="1">Bbp12_1</option>
                                    <option value="med_2">Bbp12_3</option>
                                    <option value="med_3">Bbp12_5</option>
                                    <option value="med_4" selected>Bbp12_7</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer row m-0">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <button type="submit" class="form-control btn-primary">Print</button>
                        </div>
                        <div class="col-3">
                            <button type="button" class="form-control btn-outline-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Print Comp Modal-->
    <div class="modal fade" id="compPrintModal" tabindex="-1" aria-labelledby="compPrintModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="card shadow modal-content">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 class="modal-title">Print Component Label</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <!-- Card Body -->
                <form id="print" action="{{ url_for('print_kit', kit_id=kit.id) }}" method="post">
                    <div class="modal-body">
                        <input type="hidden" id="comp_print" name="comp_print">
                        <div class="row">
                            <div class="col form-group">
                                <h5>Printer</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="sm_printer_id">Small Printer Id</label>
                                <select name="sm_printer_id" id="sm_printer_id" class="form-control">
                                    <option value="1">Bbp12_circle</option>
                                    <option value="sm_2">Bbp12_2</option>
                                    <option value="sm_3">Bbp12_4</option>
                                    <option value="sm_4" selected>Bbp12_6</option>
                                </select>
                            </div>
                            <div class="col-6 form-group">
                                <label for="med_printer_id">Medium Printer Id</label>
                                <select name="med_printer_id" id="med_printer_id" class="form-control">
                                    <option value="1">Bbp12_1</option>
                                    <option value="med_2">Bbp12_3</option>
                                    <option value="med_3">Bbp12_5</option>
                                    <option value="med_4" selected>Bbp12_7</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer row m-0">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <button type="submit" class="form-control btn-primary">Print</button>
                        </div>
                        <div class="col-3">
                            <button type="button" class="form-control btn-outline-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    var properties = "{{ kit.get_manufacturer().get_barcode_pat().part_start }},{{ kit.get_manufacturer().get_barcode_pat().part_end }},{ kit.get_manufacturer().get_barcode_pat().lot_start }},{{ kit.get_manufacturer().get_barcode_pat().lot_end }},{{ kit.get_manufacturer().get_barcode_pat().exp_date_start }},{{ kit.get_manufacturer().get_barcode_pat().exp_date_end }},{{ kit.get_manufacturer().get_comp_barcode_pat().part_start }},{{ kit.get_manufacturer().get_comp_barcode_pat().part_end }},{{ kit.get_manufacturer().get_comp_barcode_pat().lot_start }}, {{ kit.get_manufacturer().get_comp_barcode_pat().lot_end }}".split(",");

    function update_barcode(element) {
        const barcode = document.getElementById("barcode").value;
        if (properties[1] >= 0) {
            document.getElementById("kit_part_num").setAttribute("value", barcode.slice(properties[1], properties[2]));
        } else {
            document.getElementById("kit_part_num").setAttribute("value", "");
        }

        if (properties[3] >= 0) {
            document.getElementById("kit_lot_num").setAttribute("value", barcode.slice(properties[3], properties[4]));
        } else {
            document.getElementById("kit_lot_num").setAttribute("value", "");
        }

        if (properties[5] >= 0) {
            document.getElementById("kit_exp_date").setAttribute("value", get_date(barcode.slice(properties[5], properties[6])));
        } else {
            document.getElementById("kit_exp_date").setAttribute("value", "");
        }
    }

    function update_comp(element) {
        const barcode = document.getElementById("comp_barcode").value;

        if (properties[7] >= 0) {
            document.getElementById("comp_part_num").setAttribute("value", barcode.slice(properties[6], properties[7]));
        } else {
            document.getElementById("comp_part_num").setAttribute("value", "");
        }

        if (properties[9] >= 0) {
            document.getElementById("comp_lot_num").setAttribute("value", barcode.slice(properties[8], properties[9]));
        } else {
            document.getElementById("comp_lot_num").setAttribute("value", "");
        }
    }

    function setTitle(title) {
        if (title.includes("Add")) {
            document.getElementById('update_btn').innerText = "Add";
            document.getElementById("edit_form").querySelectorAll('input').forEach(function (element) {
                element.removeAttribute("value");
                if (element.id == "comp_id") {
                    element.setAttribute("value", "0");
                }
            })
        } else {
            document.getElementById('update_btn').innerText = "Update";
        }
        document.getElementById('compModalTitle').innerText = title;
    }
</script>
{% endblock %}