{% extends "header.html" %}

{% block body %}
    <div class="card shadow">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h4 class="ml-5 m-0 font-weight-bold text-primary">Add Reagent</h4>
        </div>

        <!-- Card Body -->
        <form action="{{ url_for('add_reagent') }}" method="post" onsubmit="return confirmMsg();" onkeypress="if(event.keyCode === 13) {event.preventDefault();return false;}">
            <div class="card-body mr-5 ml-5">
                <div class="row mt-3 mb-3">
                    <div class="col">
                        <h4>Master Information</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 form-group">
                        <label for="name">Reagent Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="col-4 form-group">
                        <label for="manu_name">Manufacturer</label>
                        <select class="form-control" id="manu_name" name="manu_name" onchange="update_all(this)">
                            <option value=""></option>
                            {% for manufacturer in manufacturers %}
                                <option value="{{ manufacturer.id }},{{ manufacturer.get_comp_barcode_pat().part_start }},{{ manufacturer.get_comp_barcode_pat().part_end }},{{ manufacturer.get_comp_barcode_pat().lot_start }},{{ manufacturer.get_comp_barcode_pat().lot_end }}">{{ manufacturer.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 form-group">
                        <label for="barcode">Component Barcode</label>
                        <input type="text" class="form-control" id="barcode" name="barcode" oninput="update_barcode()">
                    </div>
                    <div class="col-3 form-group">
                        <label for="part_num">Part Number</label>
                        <input type="text" class="form-control" id="part_num" name="part_num">
                    </div>
                    <div class="col-3 form-group">
                        <label for="lot_num">Lot Number</label>
                        <input type="text" class="form-control" id="lot_num" name="lot_num">
                    </div>
                    <div class="col-2 form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" value="1" min="1" max="100" step="1" name="quantity" class="form-control" id="quantity"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 form-group">
                        <label for="exp_date">Expiry Date</label>
                        <input type="date" class="form-control" id="exp_date" name="exp_date" min="{{ today }}" required>
                    </div>
                    <div class="col-3 form-group">
                        <label for="date_tested">Date Tested</label>
                        <input type="date" class="form-control" id="date_tested" name="date_tested" min="{{ today }}">
                    </div>
                    <div class="col-3 form-group">
                        <label for="p_num">P#</label>
                        <input type="text" class="form-control" id="p_num" name="p_num">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="comment">Comments</label>
                        <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer row m-0">
                <div class="col-4"></div>
                <div class="col-2">
                    <button type="submit" class="form-control btn-primary button" name="submit" id="submit">Save</button>
                </div>
                <div class="col-2">
                    <button type="button" class="form-control btn-outline-primary" name="cancel" id="cancel" onclick="window.history.back();">Cancel</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/add_reagent.js') }}"></script>
    <script>
        document.querySelector('#name').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                search_reagent(document.getElementById('name'));
            }
        });


        function search_reagent(element) {
            let form_elements;
            {% for reagent in reagents %}
                if (element.value.localeCompare('{{ reagent.name }}') === 0) {
                    document.getElementById('name').value = '{{ reagent.name }}';
                    {% with manufacturer=reagent.get_manufacturer() %}
                    {% if manufacturer %}
                    document.getElementById('manu_name').value = '{{ manufacturer.id }},{{ manufacturer.get_comp_barcode_pat().part_start }},{{ manufacturer.get_comp_barcode_pat().part_end }},{{ manufacturer.get_comp_barcode_pat().lot_start }},{{ manufacturer.get_comp_barcode_pat().lot_end }}';
                    {% endif %}
                    {% endwith %}
                    document.getElementById('barcode').value = '{{ reagent.barcode }}';
                    document.getElementById('quantity').value = '{{ reagent.quantity }}';
                    document.getElementById('part_num').value = '{{ reagent.part_num }}';
                    document.getElementById('lot_num').value = '{{ reagent.lot_num }}';
                }
            {% endfor %}
        }
    </script>
{% endblock script %}