{% extends "layout.html" %}

{% block content %}
    <div class="card shadow">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h4 class="ml-5 m-0 font-weight-bold text-primary">Add Made-Reagent</h4>
        </div>
        <form id="mr_form" action="{{ url_for('add_made_reagent') }}" method="post" onsubmit="return confirmMsg();">
            <div class="card-body mr-5 ml-5">
                <div class="row mt-3">
                    <div class="col">
                        <h4>Master Information</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 form-group">
                        <label for="name">Made-Reagent Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="col-2 form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" value="1" min="1" max="100" step="1" name="quantity" class="form-control" id="quantity"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 form-group">
                        <label for="exp_date">Expiry Date</label>
                        <input type="date" class="form-control" id="exp_date" name="exp_date" min="{{ today }}" required>
                    </div>
                    <div class="col-3 form-group">
                        <label for="date_tested">Date Tested</label>
                        <input type="date" class="form-control" id="date_tested" name="date_tested" min="{{ today }}">
                    </div>
                    <div class="col-3 form-group">
                        <label for="p_num">P#</label>
                        <input type="text" class="form-control" id="p_num" name="p_num">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="comment">Comments</label>
                        <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                    </div>
                </div>
                <hr/>
                <div class="row mt-5 mb-3">
                    <div class="col">
                        <h4>Component Information</h4>
                    </div>
                    <div class="col-3 text-center">
                        <button type="button" class="btn btn-outline-secondary" name="append" id="add_comp" onclick="clone_element(document.getElementById('comp0'));">Add Component</button>
                    </div>
                </div>
                <fieldset id="comps">
                    <fieldset class="mb-5" id="comp0" hidden>
                        <div class="row">
                            <div class="col-3 form-group">
                                <label for="comp_name0">Component Name</label>
                                <input type="text" class="form-control" name="comp_name" id="comp_name0" readonly>
                            </div>
                            <div class="col-4 form-group">
                                <label for="comp_barcode0">Component Barcode</label>
                                <input type="text" class="form-control" name="comp_barcode" id="comp_barcode0" oninput="barcode_to_comp_name(this)">
                            </div>
                            <div class="col-2 form-group"></div>
                            <div class="col-1 form-group mt-4">
                                <label for="copy_num0" hidden></label>
                                <input type="number" value="1" min="1" step="1" class="form-control" id="copy_num0" name="copy_num"/>
                            </div>
                            <div class="col-2 form-group mt-4">
                                <button type="button" class="btn btn-outline-secondary" id="clone0" onclick="clone_element(this)">
                                    <i class="fa fa-clone" style="font-size: 24px"></i>
                                </button>
                                <button type="button" class="btn btn-outline-secondary" id="trash0" onclick="remove_element(this)">
                                    <i class="fa fa-trash" style="font-size: 24px"></i>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="condition0">Component Condition</label>
                                <textarea class="form-control" id="condition0" name="condition" rows="1"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </fieldset>
            </div>
            <div class="card-footer row m-0">
                <div class="col-4"></div>
                <div class="col-2">
                    <button type="submit" class="form-control btn-primary button" name="submit" id="submit">Save</button>
                </div>
                <div class="col-2">
                    <button type="button" class="form-control btn-outline-primary" name="cancel" id="cancel" onclick="window.history.back();">Cancel</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.querySelector('#mr_form').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                return false;
            }
        });

        document.querySelector('#name').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                let form_elements, blank_len;
                let element = document.getElementById('name');
                {% for made_reagent in made_reagents %}
                    if (element.value.localeCompare('{{ made_reagent.name }}') === 0) {
                    const length = document.getElementById('comps').childElementCount - 1;
                    blank_len = 1;
                    {% for component in MadeReagentToComp.query.filter_by(madereagent_id=made_reagent.id) %}
                        if ('{{ loop.index <= MadeReagentToComp.query.filter_by(madereagent_id=made_reagent.id).count() }}'.localeCompare('True') === 0) {
                            if (parseInt('{{ loop.index }}') > length) {
                                clone_element(document.getElementById('comp0'));
                            }
                            form_elements = document.getElementById('comp{{ loop.index }}').getElementsByClassName('form-control');
                            form_elements[0].value = '{{ component.get_comp().name }}';
                            form_elements[1].value = '{{ component.get_comp().barcode }}';
                        }
                        blank_len = {{ loop.index }};
                    {% endfor %}

                    while (blank_len <= length) {
                        blank_len++;
                        if ($('#comp' + blank_len).length) {
                            form_elements = document.getElementById('comp' + blank_len).getElementsByClassName('form-control');
                            form_elements[0].value = '';
                            form_elements[1].value = '';
                        }
                    }
                }
            {% endfor %}
            }
        });

        function barcode_to_comp_name(element) {
            let found = false;
            let comp_infos = {{ comp_infos | safe }};
            for (let comp_info in comp_infos) {
                if (element.value === comp_info) {
                    found = true;
                    document.getElementById('comp_name' + element.id.substr(-1)).setAttribute('value', comp_infos[comp_info]);
                }
            }
            if (found === false) {
                document.getElementById('comp_name' + element.id.substr(-1)).setAttribute('value', '');
            }
        }
    </script>
{% endblock script %}