{% extends "header.html" %}

{% block body %}
    <div class="card shadow">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h4 class="ml-5 m-0 font-weight-bold text-primary">Made-Reagent</h4>

            <div class="dropdown no-arrow">
                <a class="dropdown-toggle btn btn-default" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Options:</div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#printModal">Print Label</a>
                    <a class="dropdown-item" href="#" onclick="window.print();return false;">Print</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#mrModal">Edit</a>
                    <a class="dropdown-item" href="{{ url_for('delete', element_type='made_reagent', element_id=made_reagent.id) }}" onclick="return deleteMsg('{{ deletable }}'); ">Delete</a>
                </div>
            </div>
        </div>

        <!-- Card Body -->
        <div class="card-body ml-5 mr-5 mt-3">
            <div class="row form-group">
                <div class="col-4 text-right"><strong>Made-Reagent Name</strong></div>
                <div class="col-small"></div>
                <div class="col-5">{{ made_reagent.name }}</div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Expiry Date</strong></div>
                <div class="col-small"></div>
                <div class="col-5">
                    {% if made_reagent.exp_date %}
                        {{ made_reagent.exp_date.strftime("%B %e, %Y") }}
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Date Tested</strong></div>
                <div class="col-small"></div>
                <div class="col-5">
                    {% if made_reagent.date_tested %}
                        {{ made_reagent.date_tested.strftime("%B %e, %Y") }}
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>P#</strong></div>
                <div class="col-small"></div>
                <div class="col-5">
                    {% if made_reagent.p_num %}
                        {{ made_reagent.p_num }}
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>UID</strong></div>
                <div class="col-small"></div>
                <div class="col-5">
                    {% for uid in made_reagent.get_uids() %}
                        <p>{{ uid }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Date Entered</strong></div>
                <div class="col-small"></div>
                <div class="col-5">{{ made_reagent.date_entered.strftime("%B %e, %Y") }}</div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Entered By</strong></div>
                <div class="col-small"></div>
                <div class="col-5">{{ made_reagent.get_user() }}</div>
            </div>

            <div class="row form-group">
                <div class="col-4 text-right"><strong>Comments</strong></div>
                <div class="col-small">
                    <a class="form-control btn-circle" data-toggle="modal" data-target="#commentModal"><i class="fa fa-pen"></i></a>
                </div>
                <div class="col-5">{{ made_reagent.comment }}</div>
            </div>

            <hr/>

            <div class="row form-group mt-4">
                <div class="col">
                    <h5 class="text-primary"><strong>Components</strong></h5>
                </div>
            </div>

            <div class="row col-12 mb-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Barcode</th>
                        <th>Part Number</th>
                        <th>Lot Number</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for component, comment in made_reagent.get_components() %}
                        <tr>
                            <td>{{ component.name }}</td>
                            <td>{{ component.barcode }}</td>
                            <td>{{ component.part_num }}</td>
                            <td>{{ component.lot_num }}</td>
                            <td>{{ comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row form-group">
                <div class="col">
                    <h5 class="text-primary"><strong>Reagents</strong></h5>
                </div>
            </div>

            <div class="row col-12 mb-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Barcode</th>
                        <th>Part Number</th>
                        <th>Lot Number</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reagent, comment in made_reagent.get_reagents() %}
                        <tr>
                            <td>{{ reagent.name }}</td>
                            <td>{{ reagent.barcode }}</td>
                            <td>{{ reagent.part_num }}</td>
                            <td>{{ reagent.lot_num }}</td>
                            <td>{{ comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    <!--Edit Comment Modal-->
    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="card shadow modal-content">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="modal-title">Edit Comment</h4>
                </div>

                <!-- Card Body -->
                <form action="{{ url_for('made_reagent', made_reagent_id=made_reagent.id) }}" method="post">
                    <div class="modal-body">
                        <textarea class="form-control" id="comment" name="comment"></textarea>
                    </div>
                    <div class="modal-footer row m-0">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <button type="submit" class="form-control btn-primary">Update</button>
                        </div>
                        <div class="col-3">
                            <button type="button" class="form-control btn-outline-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Edit Reagent Modal-->
    <div class="modal fade" id="mrModal" tabindex="-1" aria-labelledby="mrModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="card shadow modal-content">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 class="modal-title">Edit Reagent</h5>
                </div>

                <!-- Card Body -->
                <form method="post">
                    <div class="modal-body">
                        <div class="row">
                            <input class="form-control" type="number" name="mr_id" hidden>
                            <div class="col-4 form-group">
                                <label>Name</label>
                                <input class="form-control" name="name" value="{{ made_reagent.name }}">
                            </div>
                            <!--div class="col-3 form-group">
                                <label>Quantity</label>
                                <input class="form-control" name="quantity" type="number" value="{{ made_reagent.quantity }}">
                            </div-->
                        </div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <label>Expiry Date</label>
                                <input class="form-control" name="exp_date" type="date" value="{% if made_reagent.exp_date %}{{ made_reagent.exp_date.strftime('%Y-%m-%d') }}{% endif %}">
                            </div>
                            <div class="col-4 form-group">
                                <label>Date Tested</label>
                                <input class="form-control" name="date_tested" type="date" value="{% if made_reagent.date_tested %}{{ made_reagent.date_tested.strftime('%Y-%m-%d') }}{% endif %}">
                            </div>
                            <div class="col-4 form-group">
                                <label>P#</label>
                                <input class="form-control" name="p_num">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer row m-0">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <button type="submit" class="form-control btn-primary">Update</button>
                        </div>
                        <div class="col-3">
                            <button type="button" class="form-control btn-outline-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Print Made-made_reagent Modal-->
    <div class="modal fade" id="printModal" tabindex="-1" aria-labelledby="printModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="card shadow modal-content">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="modal-title">Print Label</h4>
                </div>

                <!-- Card Body -->
                <form action="/print_made_reagent/{{ made_reagent.id }}" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="made_reagent_label">Made-Reagent Label Copies:</label>
                                <select class="form-control" id="made_reagent_label" name="made_reagent_label_size">
                                    <option value="s">Small</option>
                                    <option value="m">Medium</option>
                                </select>
                            </div>
                            <div class="col-5 form-group">
                                <label for="acquired_stat">Acquired Stat:</label>
                                <select class="form-control" id="acquired_stat" name="acquired_stat">
                                    <option value="m">Made</option>
                                    <option value="p">Purchased</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <input type="number" class="form-control" value="1" min="1" id="quantity" name="made_reagent_label"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer row m-0">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <button type="submit" class="form-control btn-primary">Print</button>
                        </div>
                        <div class="col-3">
                            <button type="button" class="form-control btn-outline-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/datatables-demo.js') }}"></script>
{% endblock %}