@font-face {
  font-family: 'sofachrome';
  src: url('sofachrome.eot'); /* IE9 Compat Modes */
  src: url('sofachrome.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('sofachrome.woff') format('woff'), /* Modern Browsers */
       url('sofachrome.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('sofachrome.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	background: #fafafa;
	color: #333333;
	margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
	color: #444444;
}

.bg-steel {
	background-color: #187078;
}

.site-header .navbar-nav .nav-link {
	color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.big_cb {
	width:20px;
	height:20px;
}

th {
	background: #f0f0f0;
}

.master tr th, .master tr td  {
      padding-left: 30px;
}

.add {
	width:160px;
}

.button {
	margin-right: 30px;
	width:120px;
}

.button2 {
    margin-left: 35px;
	width:120px;
}

.button_card {
	padding-top:80px;
	margin-top:1000px;
	margin:0 auto;
	height: 380px;
	width: 340px;
	background: #187078;
	border-radius: 5px;
}

.user_card {
	height: 400px;
	width: 400px;
	margin-top: auto;
	margin-bottom: auto;
	background: #187078;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.login_btn, .register_btn {
	width: 80%;
	color: white !important;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login_container {
	padding: 0 2rem;
}


.input-group-text {
	background: #17a2b8 !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass {
	box-shadow: none !important;
	outline: 0px !important;
}

.white, .white:hover {
	color: white;
}

a, a:hover {
    color: #333333;
}

.error_msg {
	height:10px;
	padding-top:10px;
	color: #ff0000;
}

.bg {
	margin: 0;
	padding: 0;
	height: 100%;
	background: url(images/bg.jpg);
}