{% extends "layout.html" %}

{% block content %}
<main role="main" class="container">
    <div>
        <div class="container my-container">
            <div class="row">
                <div class="col-7 ">
                    <h2>Made-Reagents</h2>
                </div>
                <div class="col-3">
                    <form class="navbar-form navbar-left" action="{{ url_for('made_reagents') }}" method="post">
                        <div class="input-group">
                            <input id="searchbox" type="text" class="form-control" placeholder="Search"
                                   name="searchbox" list="listid"
                                   onautocomplete="search(this)">
                            <datalist id='listid'>
                                {% for made_reagent in all_made_reagents %}
                                <option>{{ made_reagent.name }}</option>
                                {% endfor %}
                            </datalist>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-1">
                    <form action="{{ url_for('add_made_reagent') }}">
                        <button type="submit" class="btn btn-info add" name="made_reagent">Add Made Reagent</button>
                    </form>
                </div>
            </div>
        </div>
        <br/>
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width: 10%">ID</th>
                <th style="width: 60%">Made-Reagent Name</th>
                <th style="width: 10%">Quantity</th>
                <th>Date Entered</th>
            </tr>
            </thead>
            <tbody>
            {% for made_reagent in made_reagents %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ url_for('made_reagent', made_reagent_id=made_reagent.id) }}">{{ made_reagent.name }}</a>
                </td>
                <td>{{ made_reagent.quantity }}</td>
                <td>{{ made_reagent.date_entered.strftime("%B %e, %Y") }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}