{% extends "layout.html" %}

{% block content %}
<main role="main" class="container">
    <div class="container my-container">
        <div class="row">
            <div class="col-5">
                <h2>Made-Reagent</h2>
            </div>
            <div style="-ms-flex: 0 0 14.5%; flex: 0 0 14.5%; max-width: 14.5%;">
                <button type="button" class="btn btn-info button2" data-toggle="modal"
                        data-target="#made_reagent_modal">Print Label
                </button>
            </div>
            <div style="-ms-flex: 0 0 14.5%; flex: 0 0 14.5%; max-width: 14.5%;">
                <button type="button" class="btn btn-info button2" onclick="window.print();return false;">Print
                </button>
            </div>
            <div style="-ms-flex: 0 0 14.5%; flex: 0 0 14.5%; max-width: 14.5%;">
                <form action="/made_reagent_delete/{{ made_reagent.id }}">
                    <button type="submit" class="btn btn-info button2">Delete</button>
                </form>
            </div>
            <div style="-ms-flex: 0 0 14.5%; flex: 0 0 14.5%; max-width: 14.5%;">
                <button type="button" class="btn btn-info button2" onclick="window.history.back();">Back</button>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover master">
                    <tr>
                        <th width="30%">Made Reagent Name</th>
                        <td>{{ made_reagent.name }}</td>
                    </tr>
                    <tr>
                        <th>Date Entered</th>
                        <td>{{ made_reagent.date_entered.strftime("%B %e, %Y") }}</td>
                    </tr>
                    <tr>
                        <th>Expiry Date</th>
                        {% if made_reagent.exp_date %}
                        <td>{{ made_reagent.exp_date.strftime("%B %e, %Y") }}</td>
                        {% elif not made_reagent.exp_date %}
                        <td>N/A</td>
                        {% endif %}
                    </tr>
                </table>
                <br/>
                <h4>Components</h4>
                <hr/>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Barcode</th>
                        <th>UID</th>
                        <th>Part Number</th>
                        <th>Lot Number</th>
                        <th style="width:150px">Expiry Date</th>
                        <th>Condition</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for component in component_list %}
                    {% for comp in [Component.query.filter_by(name=component)[0]]*component_list[component] %}
                    <tr>
                        <td>{{ comp.name }}</td>
                        <td>{{ comp.barcode }}</td>
                        <td>{{ comp.uid }}</td>
                        <td>{{ comp.part_num }}</td>
                        <td>{{ comp.lot_num }}</td>
                        <td>{{ comp.exp_date }}</td>
                        <td>{{ comp.condition }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
                <h4>Reagents</h4>
                <hr/>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Barcode</th>
                        <th>Part Number</th>
                        <th>Lot Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reagent in reagent_list %}
                    {% for reag in [Reagent.query.filter_by(name=reagent)[0]]*reagent_list[reagent] %}
                    <tr>
                        <td>{{ reag.name }}</td>
                        <td>{{ reag.barcode }}</td>
                        <td>{{ reag.part_num }}</td>
                        <td>{{ reag.lot_num }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="made_reagent_modal" tabindex="-1" role="" aria-labelledby="made_reagent_modal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Print Label</h5>
            </div>
            <form action="/print_made_reagent/{{ made_reagent.id }}" method="post" onsubmit="return confirmMsg();"
                  onkeypress="return event.keyCode != 13;">
                <div class="modal-body">
                    <div class="row my-row">
                        <div class="col-4 form-group">
                            <label for="made_reagent_label">Made-Reagent Label Copies:</label>
                        </div>
                        <div class="col-6 form-group">
                            <label for="comp_label_s">Component Label Copies:</label>
                        </div>
                        <div class="col-2 form-group">
                            <label for="acquired_stat">Acquired Stat:</label>
                        </div>
                    </div>
                    <div class="row my-row">
                        <div class="col-4 form-group">
                            <select class="form-control" id="made_reagent_label_size" name="made_reagent_label_size">
                                <option value="s">Small</option>
                                <option value="m">Medium</option>
                            </select>
                            <br/>
                            <input data-prefix="Copies" type="number" value="1" min="1" max="100" step="1"
                                   class="form-control" name="made_reagent_label" id="made_reagent_label"/>
                        </div>
                        <div class="col-3 form-group">
                            <label>Small</label>
                            <br/>
                            <input data-prefix="Copies" type="number" value="1" min="1" max="100" step="1"
                                   class="form-control" name="comp_label_s" id="comp_label_s"/>
                        </div>
                        <div class="col-3 form-group">
                            <label>Medium</label>
                            <br/>
                            <input data-prefix="Copies" type="number" value="1" min="1" max="100" step="1"
                                   class="form-control" name="comp_label_m" id="comp_label_m"/>
                        </div>
                        <div class="col-2 form-group">
                            <label for="comp_label_m" style="visibility: hidden">Co</label>
                            <select class="form-control" id="acquired_stat" name="acquired_stat">
                                <option value="m">Made</option>
                                <option value="p">Purchased</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info">Print</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock modal %}

{% block script %}
<script>
    // Reset modal
    $('.modal').on('hidden.bs.modal', function(){
        $(this).find('form')[0].reset();
    });

</script>
{% endblock script %}