{% extends "layout.html" %}

{% block content %}
<form action="/add_kit_redirect" method="post" onsubmit="return confirmMsg();">
	<div class="container my-container">
		<div class="row">
			<div class="col">
				<h2>Add  Kit</h2>
				<hr/>
				<h4>Master Information</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-3 form-group">
				<label for="name">Kit Name:</label>
				<input type="text" class="form-control" id="name" name="name" required>
			</div>
			<div class="col-3 form-group">
				<label for="manu_name">Manufacturer:</label>
				<select class="form-control" id="manu_name" name="manu_name" onchange="enable(this)" required>
					<option selected="selected"></option>
					{% for item in manu_name%}
					<option
						value="{{item.part_num}},{{item.lot_num}},{{item.exp_date}},{{item.part_start}},{{item.part_end}},{{item.lot_start}},{{item.lot_end}},{{item.comp_barcode}},{{item.comp_part_num}},{{item.comp_lot_num}},{{item.comp_part_start}},{{item.comp_part_end}},{{item.comp_lot_start}},{{item.comp_lot_end}},{{ item.id }}">
						{{ item.name }}
					</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-4 form-group">
				<label for="barcode">Box Lot Barcode:</label>
				<input type="text" class="form-control" id="barcode" name="barcode" oninput="update()">
			</div>
		</div>
		<div class="row my-row">
			<div class="col-3 form-group">
				<label for="part_num">Part Number:</label>
				<input type="text" class="form-control" id="part_num" name="part_num" readonly>
			</div>
			<div class="col-3 form-group">
				<label for="lot_num">Lot Number:</label>
				<input type="text" class="form-control" id="lot_num" name="lot_num" readonly>
			</div>
			<div class="col-3 form-group">
				<label for="exp_date">Expiry Date:</label>
				<input type="date" class="form-control" id="exp_date" name="exp_date" min="{{ today }}" disabled">
			</div>
			<div class="col-2 form-group">
				<label for="quantity">Quantity:</label>
				<input type="number" value="0" min="0" max="100" step="1" name="quantity"
				       class="form-control" id="quantity"/>
			</div>
		</div>
		<hr/>
		<div class="row my-row">
			<div class="col">
				<h4>Component Information</h4>
			</div>
		</div>
		<div id="containers_div">
			<div id="container_div0" style="padding-bottom:30px">
				<div class="row my-row">
					<div class="col-3 form-group">
						<label for="comp_name0">Component Name:</label>
						<input type="text" class="form-control" name="comp_name" id="comp_name0">
					</div>
					<div class="col-4 form-group">
						<label for="comp_barcode0">Component Barcode:</label>
						<input type="text" class="form-control" name="comp_barcode" id="comp_barcode0"
						       oninput="update_comp(this)">
					</div>
					<div class="col-3 form-group"></div>
					<div class="col-2 form-group">
						<label style="visibility: hidden;">Traaaaaaaaaaash:</label>
						<button type="button" class="btn btn-default" name="clone" id="clone"
						        onclick="clone_element(this)">
							<i class="fa fa-clone" style="font-size:24px"></i>
						</button>
						<button type="button" class="btn btn-default" name="trash" id="trash"
						        onclick="remove_element(this)">
							<i class="fa fa-trash-o" style="font-size:24px"></i>
						</button>
					</div>
				</div>
				<div class="row my-row">
					<div class="col-3 form-group">
						<label for="comp_part_num0">Part Number:</label>
						<input type="text" class="form-control" name="comp_part_num" id="comp_part_num0">
					</div>
					<div class="col-3 form-group">
						<label for="comp_lot_num0">Lot Number:</label>
						<input type="text" class="form-control" name="comp_lot_num" id="comp_lot_num0">
					</div>
					<div class="col-6 form-group">
						<label for="condition">Component Condition:</label>
						<input type="text" class="form-control" name="condition" id="condition">
					</div>
				</div>
			</div>
		</div>
		<div class="row my-row col-3">
			<button type="button" name="append" id="add_comp" onclick="add_element()">Add Component</button>
		</div>
		<br/>
		<div class="row my-row">
			<div class="col-12">
				<button type="button" class="btn btn-info button" data-toggle="collapse"
				        data-target="#print_div">
					Print Option
				</button>
				<button type="submit" class="btn btn-info button" name="submit" id="submit">
					Save & Print
				</button>
				<button type="button" class="btn btn-outline-info button" name="cancel" id="cancel"
				        onclick="window.history.back();">
					Cancel
				</button>
			</div>
		</div>
	</div>
	<br/>

	<div id="print_div" class="collapse">
		<hr/>
		<div class="row my-row">
			<div class="col">
				<h2>Print Option</h2>
			</div>
		</div>
		<div class="row my-row">
			<div class="col-3 form-group">
				<label for="kit_label">Kit Label Copies</label>
				<select class="form-control" id="kit_label_size" name="kit_label_size">
					<option value="s">Small</option>
					<option value="m">Medium</option>
				</select>
				<br/>
				<input data-prefix="Copies" type="number" value="1" min="1" max="100" step="1"
				       class="form-control" name="kit_label" id="kit_label"/>
			</div>
			<div class="col-3 form-group">
				<label for="comp_label">Component Label Copies</label>
				<select class="form-control" id="comp_label_size" name="comp_label_size">
					<option value="s">Small</option>
					<option value="m">Medium</option>
				</select>
				<br/>
				<input data-prefix="Copies" type="number" value="1" min="1" max="100" step="1"
				       class="form-control" name="comp_label" id="comp_label"/>
			</div>
		</div>
		<br/>
	</div>
</form>
{% endblock content %}