{% extends "layout.html" %}

{% block content %}
<main role="main" class="container">
    <div>
        <div class="container my-container">
            <div class="row">
                <div class="col-4">
                    <h2>Kit</h2>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-info button2" data-toggle="modal" data-target="#kit_modal">
                        Print
                        Label
                    </button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-info button2" onclick="window.print();return false;">Print
                    </button>
                </div>
                <div class="col-2">
                    <form action="/kit_delete/{{ kit.id }}">
                        <button type="submit" class="btn btn-info button2">Delete</button>
                    </form>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-info button2" onclick="window.history.back();">Back</button>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-12">
                    <table class="table table-hover master">
                        <tr>
                            <th>Kit Name</th>
                            <td>{{ kit.name }}</td>
                        </tr>
                        <tr>
                            <th>Manufacturer</th>
                            <td>{{ Manufacturer.query.get(kit.manufacturer_fk).name }}</td>
                        </tr>
                        <tr>
                            <th>Box Lot Barcode</th>
                            <td>{{ kit.barcode }}</td>
                        </tr>
                        <tr>
                            <th>Part Number</th>
                            {% if kit.part_num != '-1' %}
                            <td>{{ kit.part_num }}</td>
                            {% elif kit.part_num == '-1' %}
                            <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Lot Number</th>
                            {% if kit.lot_num != '-1' %}
                            <td>{{ kit.lot_num }}</td>
                            {% elif kit.lot_num == '-1' %}
                            <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Date Entered</th>
                            {% if kit.date_entered %}
                            <td>{{ kit.date_entered.strftime("%B %e, %Y") }}</td>
                            {% elif not kit.exp_date %}
                            <td>N/A</td>
                            {% endif %}

                        </tr>
                        <tr>
                            <th>Expiry Date</th>
                            {% if kit.exp_date %}
                            <td>{{ kit.exp_date.strftime("%B %e, %Y") }}</td>
                            {% elif not kit.exp_date %}
                            <td>N/A</td>
                            {% endif %}
                        </tr>
                    </table>
                    <br/>
                    <h3>Components</h3>
                    <hr/>
                    {% for i in range %}
                    <h4>
                        <button type="button" class="btn btn-default" data-toggle="collapse"
                                data-target="#comp_div{{i}}">Kit
                            UID: {{ kit.date_entered.strftime("%Y-%m-%d %H:%M:%S")}} {{ i+1 }}/{{ kit.quantity }}
                        </button>
                    </h4>
                    <div id="comp_div{{i}}" class="row collapse">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Part Number</th>
                                <th>Lot Number</th>
                                <th>Expiry Date</th>
                                <th>Condition</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for component in kit.components[i * kit.components|length // kit.quantity:(i+1) *
                            kit.components|length // kit.quantity] %}
                            <tr>
                                <td>{{ component.name }}</td>
                                <td>{{ component.part_num }}</td>
                                <td>{{ component.lot_num }}</td>
                                {% if component.exp_date %}
                                <td>{{ component.exp_date.strftime("%B %e, %Y") }}</td>
                                {% elif not component.exp_date %}
                                <td>N/A</td>
                                {% endif %}
                                <td>{{ component.condition }}</td>
                                <td>
                                    <button class="btn btn-info"
                                            id="{{component.id}},{{component.name}},{{component.barcode}},{{component.part_num}},{{component.lot_num}},{{component.exp_date}},{{component.condition}}"
                                            data-toggle="modal" data-target="#comp_modal" onclick="edit_comp(this);">
                                        Edit
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="kit_modal" tabindex="-1" aria-labelledby="kit_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Print Label</h5>
            </div>
            <form action="/print_kit/{{ kit.id }}" method="post" onsubmit="return confirmMsg();"
                  onkeypress="return event.keyCode != 13;">
                <div class="modal-body">
                    <div class="row my-row">
                        <div class="col-4 form-group">
                            <label for="kit_label">Kit Label Copies</label>
                            <select class="form-control" id="kit_label_size" name="kit_label_size">
                                <option value="s">Small</option>
                                <option value="m">Medium</option>
                            </select>
                            <br/>
                            <input data-prefix="Copies" type="number" value="1" min="1" max="100" step="1"
                                   class="form-control" name="kit_label" id="kit_label"/>
                        </div>
                        <div class="col-4 form-group">
                            <label for="comp_label_s">Component Label Copies</label>
                            <br/>
                            <label>Small</label>
                            <br/>
                            <input data-prefix="Copies" type="number" value="1" min="1" max="100" step="1"
                                   class="form-control" name="comp_label_s" id="comp_label_s"/>
                        </div>
                        <div class="col-4 form-group">
                            <label for="comp_label_m" style="visibility: hidden">Component Label Copies</label>
                            <br/>
                            <label>Medium</label>
                            <br/>
                            <input data-prefix="Copies" type="number" value="1" min="1" max="100" step="1"
                                   class="form-control" name="comp_label_m" id="comp_label_m"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info">Print</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="comp_modal" tabindex="-1" aria-labelledby="kit_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Component</h5>
            </div>
            <form action="/kit/{{ kit.id }}" method="post" onsubmit="return confirmMsg();"
                  onkeypress="return event.keyCode != 13;">
                <div class="modal-body">
                    <input class="form-control" name="comp_id" id="comp_id" type="hidden">
                    <div class="row my-row">
                        <div class="col-4 form-group">
                            <label for="comp_name">Name</label>
                            <input class="form-control" name="comp_name" id="comp_name">
                        </div>
                        <div class="col-5 form-group">
                            <label for="comp_barcode">Barcode</label>
                            <input class="form-control" name="comp_barcode" id="comp_barcode">
                        </div>
                    </div>
                    <div class="row my-row">
                        <div class="col-4 form-group">
                            <label for="part_num">Part Number</label>
                            <input class="form-control" name="part_num" id="part_num">
                        </div>
                        <div class="col-4 form-group">
                            <label for="lot_num">Lot Number</label>
                            <input class="form-control" name="lot_num" id="lot_num">
                        </div>
                        <div class="col-4 form-group">
                            <label for="exp_date">Expiry Date</label>
                            <input class="form-control" name="exp_date" id="exp_date" type="date">
                        </div>
                    </div>
                    <div class="row my-row">
                        <div class="col-6 form-group">
                            <label for="part_num">Condition</label>
                            <input class="form-control" name="comp_condition" id="comp_condition">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock modal %}

{% block script %}
<script>
    function edit_comp(element) {
        var info = element.id.split(",");
        document.getElementById("comp_id").setAttribute("value",info[0]);
        document.getElementById("comp_name").setAttribute("value",info[1]);
        document.getElementById("comp_barcode").setAttribute("value",info[2]);
        document.getElementById("part_num").setAttribute("value",info[3]);
        document.getElementById("lot_num").setAttribute("value",info[4]);
        document.getElementById("exp_date").setAttribute("value",info[5]);
        document.getElementById("comp_condition").setAttribute("value",info[6]);
    }

</script>
{% endblock script %}