{% extends "layout.html" %}
{% block content %}
<div class="container my-container">
	<div class="row">
		<div class="col-8">
			<h2>Kits</h2>
		</div>
		<div class="col-3">
			<form class="navbar-form navbar-left" action="{{ url_for('kits') }}" method="post">
				<div class="input-group">
					<input id="searchbox" type="text" class="form-control"
					       placeholder="Search" name="searchbox" list="listid" onautocomplete="search(this)">
					<datalist id='listid'>
						{% for kit in all_kits %}
						<option>{{ kit.name }}</option>
						{% endfor %}
					</datalist>
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-1">
			<form action="{{ url_for('add_kit') }}" method="post">
				<button type="submit" class="btn btn-info" name="kit">Add Kit</button>
			</form>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-12">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>ID</th>
					<th>Kit Name</th>
					<th>Quantity</th>
					<th>Date Entered</th>
				</tr>
				</thead>
				<tbody>
				{% for kit in kits %}
				<tr>
					<td>{{ loop.index }}</td>
					<td><a href="{{ url_for('kit', kit_id=kit.id) }}">{{ kit.name }}</a></td>
					<td>{{ kit.quantity }}</td>
					<td>{{ kit.date_entered.strftime("%B %e, %Y") }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}