{% extends "layout.html" %}

{% block content %}
    <div class="card shadow">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h4 class="ml-5 m-0 font-weight-bold text-primary">Add Manufacturer</h4>
        </div>

        <!-- Card Body -->
        <form id="manu_form" action="{{ url_for('add_manufacturer') }}" method="post" onsubmit="return confirmMsg()">
            <div class="card-body mr-5 ml-5">
                <div class="row mt-3 mb-3">
                    <div class="col">
                        <h4>Master Information</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 form-group ">
                        <label for="manu_name">Manufacturer Name</label>
                        <input type="text" class="form-control" id="manu_name" name="manu_name" required>
                    </div>
                    <div class="col-5 form-group">
                        <label for="barcode">Box Lot Barcode</label>
                        <input type="text" class="form-control" id="barcode" name="barcode">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 form-group">
                        <label for="part_num">
                            <input type="checkbox" class="form-check-input" id="part_num_cb" name="cb" value="part_num" checked="checked" onchange="checkbox_pressed(this)">Part Number
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="part_num" name="part_num" readonly>
                            <label for="part_start"></label><input type="text" class="form-control" id="part_start" name="part_start" hidden>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="part_num_btn" onclick="update_master(this)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 form-group">
                        <label for="lot_num">
                            <input type="checkbox" class="form-check-input" id="lot_num_cb" name="cb" value="lot_num" checked="checked" onchange="checkbox_pressed(this)">Lot Number
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="lot_num" name="lot_num" readonly>
                            <label for="lot_start"></label><input type="text" class="form-control" id="lot_start" name="lot_start" hidden>
                            <button type="button" class="btn btn-primary" id="lot_num_btn" onclick="update_master(this)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-4 form-group">
                        <label for="exp_date">
                            <input type="checkbox" class="form-check-input" id="exp_date_cb" name="cb" value="exp_date" checked="checked" onchange="checkbox_pressed(this)">Expiry Date
                        </label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="exp_date" name="exp_date" readonly>
                            <label for="exp_date_start"></label><input type="text" class="form-control" id="exp_date_start" name="exp_date_start" hidden>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="exp_date_btn" onclick="update_date(this)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col">
                        <h4>Component Information</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 form-group">
                        <label for="comp_cb"></label><input type="checkbox" class="form-check-input" id="comp_cb" name="comp_cb" checked="checked" onchange="document.getElementById('comp_barcode').disabled = !this.checked;">
                        <label for="comp_barcode">Component Barcode</label>
                        <input type="text" class="form-control" id="comp_barcode" name="comp_barcode">
                    </div>
                    <div class="col-4 form-group">
                        <label for="comp_part_num_cb"></label><input type="checkbox" class="form-check-input" id="comp_part_num_cb" name="comp_cb" value="part_num" checked="checked" onchange="checkbox_pressed(this)">
                        <label for="comp_part_num">Part Number</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="comp_part_num" name="comp_part_num" readonly>
                            <label for="comp_part_start"></label><input type="text" class="form-control" id="comp_part_start" name="comp_part_start" hidden>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="comp_part_num_btn" onclick="update_comp_master(this)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 form-group">
                        <label for="comp_lot_num_cb"></label><input type="checkbox" class="form-check-input" id="comp_lot_num_cb" name="comp_cb" value="lot_num" checked="checked" onchange="checkbox_pressed(this)">
                        <label for="comp_lot_num">Lot Number</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="comp_lot_num" name="comp_lot_num" readonly>
                            <label for="comp_lot_start"></label><input type="text" class="form-control" id="comp_lot_start" name="comp_lot_start" hidden>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="comp_lot_num_btn" onclick="update_comp_master(this)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer row m-0">
                <div class="col-4"></div>
                <div class="col-2">
                    <button type="submit" class="form-control btn-primary button" name="submit" id="submit">Save</button>
                </div>
                <div class="col-2">
                    <button type="button" class="form-control btn-outline-primary" name="cancel" id="cancel" onclick="window.history.back();">Cancel</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/add_manu.js') }}"></script>
    <script>
        document.querySelector('#manu_form').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                return false;
            }
        });
    </script>
{% endblock %}